@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-[14px] text-zinc-200 bg-zinc-900;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
a,
button {
  @apply select-none;
}

a {
  /* @apply text-sky-500; */
}

h1 {
  @apply text-xl font-semibold;
}

p {
  @apply py-1;
}
